<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
  </header>
  <main>
    {% include lang.html %}
    <article class="px-1">
      {% if page.layout == 'page' or page.collection == 'tabs' %}
        {% assign tab_key = page.title | downcase %}
        {% assign title = site.data.locales[page.lang].tabs[tab_key] | default: page.title %}
        <h1 class="dynamic-title">
          {{ title }}
        </h1>
        <div class="content">
          {{ content }}
        </div>
      {% else %}
        {{ content }}
      {% endif %}
    </article>
  </main>
  <footer>
    &copy; {{ site.time | date: '%Y' }} {{ site.title }}
  </footer>
</body>
</html>
